
body{
    background-image: url("../image/fondo.png");
    width: auto;
    height: auto;
    position: relative;
}

/*---------------------------------*/

header{
    width: 100%;
    height: 100px;
}
.contenedorImagen{
    display: flex;
}

.logo{
    margin-left: 10%;
    margin-top: 5%;
    left: 50px;
    width: 10px;
}

/*---------------------------------*/

#mostrarJuego{
    display: none;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}


.contenedorBotones{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.botonIniciar{

    margin-top: 13%;
    left: 38%;

    background: orange;
    border: 3px solid #0A3871; 
    border-radius: 50px;
    padding: 40px;

    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    line-height: 20%;
    
    cursor: pointer;
}

.botonAgregar{

    left: 38%;

    background: orange;
    border: 3px solid #0A3871; 
    border-radius: 50px;
    padding: 40px;

    font-family: 'Roboto Mono', monospace;

    font-size: 15px;

    line-height: 20%;
    cursor: pointer;
}

.botonIniciar:hover, .botonAgregar:hover{
    color: #0A3871;
    transform: scale(0.9);
}

/*---------------------------------*/
.botonesParteDos{
    display: flex;
    margin-top: 2%;
    gap: 6%;
}

.boton-nuevoJuego{
    width:50%;
    background: orange;
    border: 3px solid #0A3871; 
    border-radius: 50px;
    padding: 10px;

    font-family: 'Roboto Mono', monospace;
    font-size: 15px;

    cursor: pointer;
}

.boton-Rendirse{
    width: 50%;
    background: orange;
    border: 3px solid #0A3871; 
    border-radius: 50px;
    padding: 10px;

    font-family: 'Roboto Mono', monospace;
    font-size: 15px;

    
    cursor: pointer;
}

.boton-agregarPalabra{
    width: 50%;
    background: orange;
    border: 3px solid #0A3871; 
    border-radius: 50px;
    padding: 10px;

    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    cursor: pointer;
}

.boton-nuevoJuego:hover, .boton-Rendirse:hover, .boton-agregarPalabra:hover{
    color: #0A3871;
    transform: scale(0.9);
}

/*PARA CELULAR TABLET */
.botonesParaCelularTablet{
    display: none;
    gap: 3%;
}

.botonMobile{
    border: 3px solid #0A3871;;
    border-radius:3px ;
    background-color: orange;
}

/* ESTILOS DE EL HTML JUEGO */

#micanvas{

    display: flex;
    width: 80%;
    height: 74px;
    
}

#mostrarPalabrasUsadas{

    display: flex;
    width: 80%;
    height: 80px;
    

}

#miAhorcado{

    display: flex;
    width: 80%;
    height: 293px;

}


/*---------------------------------*/


#textoInput{
    display: none;
}

#boton-confirmarPalabraNueva{
    display: none;
}

#boton-cancelarPalabraNueva{
    display: none;
}

#ingresoTexto{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#textoInput{
    height: 250px;
    background-color: orange;
    border: 2px solid rgb(7, 7, 7);
    border-radius: 20px;
    margin: 50px 0 0 0;
    font-size: 15px;
    width: 58%;
    font-family: 'Roboto Mono', monospace;
}


#advertencia{
    display: none;
}

#advertencia{

    color: black;
    margin-top: 5%;
    font-family: 'Roboto Mono', monospace;

}

.contenedorBotones2{
    display: flex;
    gap: 5%;
}

#boton-confirmarPalabraNueva{
    margin-top: 5%;

    background: orange;
    border: 3px solid #0A3871; 
    border-radius: 50px;
    padding: 40px;
    
    font-family: 'Roboto Mono', monospace;

    font-size: 15px;

    cursor: pointer;
}

#boton-cancelarPalabraNueva{
    margin-top: 5%;

    background: orange;
    border: 3px solid #0A3871; 
    border-radius: 50px;
    padding: 40px;

    font-family: 'Roboto Mono', monospace;

    font-size: 15px;

    
    cursor: pointer;
}

#boton-confirmarPalabraNueva:hover, #boton-cancelarPalabraNueva:hover{
    color: #0A3871;
    transform: scale(0.9);
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1% 0 0 0;
    width: 100%;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}


/*----------------medias----------------*/

@media (max-width: 1024px) {

}

@media (max-width: 768px) {


    #miAhorcado{
    
        display: flex;
        width: 100%;
        height: 150px;
    }


    #micanvas{

        display: flex;
        width: 100%;
        height: 50px;
    }
    
    #mostrarPalabrasUsadas{
    
        display: flex;
        width: 100%;
        height: 60px;
        
    }
    
    .botonesParaCelularTablet{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }


    .contenedorBotones2{
        flex-direction: column;
    }
}

@media (max-width: 672px) {
}

@media (max-width: 480px) {
    .botonesParteDos{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 375px) {

}

@media (max-width: 320px) {


}